<head>
<style>
    body{
      font-family:'copperplate';
    }
    .nav-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #444;
    }

    .menu {
        float: left;
    }

    .menu a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #111;
    }

</style>
</head>
<body>
<ul class="nav-bar">
  <li class="menu"><a href="tv_show">Home</a></li>
  <li class="menu"><a href="contact">Contact</a></li>
  <li class="menu"><a href="../pages/about">About</a></li>
</ul>

<p style="color: green"><%= notice %></p>

<h1>Planets</h1>

<div id="planets">
  <% @planets.each do |planet| %>
    <ul>
      <li><%= link_to planet.name, planet%></li>
    </ul>
  <% end %>
</div>
</body>