<%= stylesheet_link_tag "application.css" %>

<nav class="navbar is-dark"  aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="../characters">
        Characters
      </a>

      <a class="navbar-item" href="../planets">
        Planets
      </a>

      <a class="navbar-item" href="../species">
        Species
      </a>

      <a class="navbar-item" href="../starships">
        Starships
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<br>

<p class="title is-1 is-spaced">About</p>
<p class="subtitle is-3">Welcome to the About page! Glad you made it. This rails site makes use of a dataset from the data.world website which offers free
datasets. It makes use of 4 datasets based on the Star Wars universe: characters, planets, species, and starships. 
Each character has one species and one homeworld planet. Each species has many characters. Each planet has many characters.</p>

<%= image_tag 'erd.png', alt: 'erd' %>