<%= stylesheet_link_tag "application.css" %>

<ul class="nav-bar">
  <li class="menu"><a href="home">Home</a></li>
  <li class="menu"><a href="characters">Characters</a></li>
  <li class="menu"><a href="planets">Planets</a></li>
  <li class="menu"><a href="species">Species</a></li>
  <li class="menu"><a href="starships">Starships</a></li>
  <li class="menu"><a href="contact">Contact</a></li>
  <li class="menu"><a href="../pages/about">About</a></li>
</ul>

<p style="color: green"><%= notice %></p>

<h1>Characters</h1>

<div id="characters">
  <% @characters.each do |character| %>
    <ul>
      <li><%= link_to character.name, character%></li>
    </ul>
  <% end %>
</div>
