<%= stylesheet_link_tag "application.css" %>

<ul class="nav-bar">
  <li class="menu"><a href="home">Home</a></li>
  <li class="menu"><a href="characters">Characters</a></li>
  <li class="menu"><a href="planets">Planets</a></li>
  <li class="menu"><a href="species">Species</a></li>
  <li class="menu"><a href="starships">Starships</a></li>
  <li class="menu"><a href="contact">Contact</a></li>
  <li class="menu"><a href="../pages/about">About</a></li>
</ul>

<p style="color: green"><%= notice %></p>

<h1>Starships</h1>

<div class="container col-4">
<div id="starships">
  <% @starships.each do |starship| %>
    <div class="row">
    <ul>
      <li><%= link_to starship.name, starship%></li>
    </ul>
    </div>
  <% end %>
</div>
</div>